# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Examples
examples/UnitTest/unittest
examples/Http2ServerDemo/server-demo
examples/Http2ClientDemo/client-demo
