# Visual Studio Code
#.vscode/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.*.json
docs.json
__dummy.html

# Code coverage
*.lst

# Idea
*.iml

# Examples
examples/UnitTest/unittest
examples/H2C-Demo/h2c-client
examples/H2C-Demo/h2c-server
examples/HttpDemo/http-client
examples/HttpDemo/http-server
examples/WebSocketDemo/websocket-client
examples/WebSocketDemo/websocket-server
examples/UnitTest/unittest-*
*-test-default
