# Visual Studio Code
#.vscode/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html

# Code coverage
*.lst

# Examples
examples/UnitTest/unittest
examples/HttpServerDemo/server-demo*
examples/HttpClientDemo/client-demo
examples/H2C-Demo/h2c-client
examples/H2C-Demo/h2c-server
examples/WebSocketDemo/websocket-client
examples/WebSocketDemo/websocket-server
examples/UnitTest/unittest-*
